{
  "presets": ["react-app"],
  "plugins": [
    [
      "import",
      "@babel/plugin-syntax-dynamic-import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}
